#main-grid{
  width: 98.5vw;
  height: 98.2vh;
  display: flex;
  flex-direction: column;
}

.cols{
  display: flex;
  flex-direction: row;
}

#main-svg{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
