<div id="main-grid">
  <div *ngFor="let i of n(rows)" class="cols">
    <app-case *ngFor="let j of n(cols)" [rows]="i" [cols]="j" (stateChange)="stateChange(i,j,$event)"></app-case>
  </div>
</div>
<div id="main-svg">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100vw" height="100vh">
    <line *ngFor="let rectangle of rectangles"
    [attr.x1]="rectangle.point3.y * 100 + 50"
    [attr.x2]="rectangle.point2.y * 100 + 50"
    [attr.y1]="rectangle.point3.x * 100 + 50"
    [attr.y2]="rectangle.point2.x * 100 + 50"
    stroke="blue" stroke-width="15" stroke-linecap="round"></line>

    <line *ngFor="let rectangle of rectangles"
    [attr.x1]="rectangle.point1.y * 100 + 50"
    [attr.x2]="rectangle.point3.y * 100 + 50"
    [attr.y1]="rectangle.point1.x * 100 + 50"
    [attr.y2]="rectangle.point3.x * 100 + 50"
    stroke="blue" stroke-width="15" stroke-linecap="round"></line>

    <line *ngFor="let rectangle of rectangles"
    [attr.x1]="rectangle.point2.y * 100 + 50"
    [attr.x2]="rectangle.point4.y * 100 + 50"
    [attr.y1]="rectangle.point2.x * 100 + 50"
    [attr.y2]="rectangle.point4.x * 100 + 50"
    stroke="blue" stroke-width="15" stroke-linecap="round"></line>

    <line *ngFor="let rectangle of rectangles"
    [attr.x1]="rectangle.point1.y * 100 + 50"
    [attr.x2]="rectangle.point4.y * 100 + 50"
    [attr.y1]="rectangle.point1.x * 100 + 50"
    [attr.y2]="rectangle.point4.x * 100 + 50"
    stroke="blue" stroke-width="15" stroke-linecap="round"></line>
  </svg>
</div>
