<div class="case">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100" height="100">
    <line x1="0" y1="50" x2="100" y2="50" stroke="black"></line>
    <line x1="50" y1="0" x2="50" y2="100" stroke="black"></line>
    <circle *ngIf="state" cx="50" cy="50" r="15"/>
  </svg>
</div>
