<div class="col p-2 main-control d-flex flex-column justify-content-between">
    <div>
        <div>
            <h3>World</h3>
            <div class="form-group">
                <label for="SizeRange" class="form-label">Size : {{selectedPreset.settings.size}}</label>
                <input type="range" min="{{minSize}}" max="{{maxSize}}" class="form-range form-control w-100 border-0" id="SizeRange" (change)="sizeChanged()" [(ngModel)]="selectedPreset.settings.size">
            </div>
        </div>
        <div>
            <h3>Presets</h3>
            <div class="form-group">
                <select class="form-select form-control w-100 border-0" id="presetSelect" (change)="presetChanged()" [(ngModel)]="selectedPreset">
              <option *ngFor="let preset of presets" [ngValue]="preset">
                {{preset.name}}
              </option>
            </select>
            </div>
        </div>
        <div>
            <h3>Generation</h3>
            <div class="form-group">
                <label for="typeSelect" class="form-label">Noise type : {{selectedPreset.settings.noiseType}}</label>
                <select class="form-select form-control w-100 border-0" id="typeSelect" (change)="typeChanged()" [(ngModel)]="selectedPreset.settings.noiseType">
                <option *ngFor="let enum of NoiseTypes" [value]="enum">
                  {{label(enum)}}
                </option>
              </select>
            </div>


            <div class="form-group">
                <label for="scaleRange" class="form-label">Scale : {{selectedPreset.settings.scale}}</label>
                <input type="range" min="{{minScale}}" max="{{maxScale}}" class="form-range form-control w-100 border-0" id="scaleRange" step="0.0001" (change)="scaleChanged()" [(ngModel)]="selectedPreset.settings.scale">
            </div>
            <div class="form-group">
                <label for="frequencyRange" class="form-label">Frequency : {{selectedPreset.settings.frequency}}</label>
                <input type="range" min="{{minFrequency}}" max="{{maxFrequency}}" class="form-range form-control w-100 border-0" id="frequencyRange" step="0.001" (change)="frequencyChanged()" [(ngModel)]="selectedPreset.settings.frequency">
            </div>
            <div class="form-group">
                <label for="gainRange" class="form-label">Gain : {{selectedPreset.settings.gain}}</label>
                <input type="range" min="{{minGain}}" max="{{maxGain}}" class="form-range form-control w-100 border-0" id="gainRange" step="0.001" (change)="gainChanged()" [(ngModel)]="selectedPreset.settings.gain">
            </div>
            <div class="form-group">
                <label for="deltaRange" class="form-label">Delta : {{selectedPreset.settings.delta}}</label>
                <input type="range" min="{{minDelta}}" max="{{maxDelta}}" class="form-range form-control w-100 border-0" id="deltaRange" step="0.001" (change)="deltaChanged()" [(ngModel)]="selectedPreset.settings.delta">
            </div>
            <div class="form-group">
                <label for="octaveCountRange" class="form-label">Octave Count : {{selectedPreset.settings.octaveCount}}</label>
                <input type="range" min="{{minOctaveCount}}" max="{{maxOctaveCount}}" class="form-range form-control w-100 border-0" id="octaveCountRange" step="1" (change)="octaveCountChanged()" [(ngModel)]="selectedPreset.settings.octaveCount">
            </div>
            <div class="form-group">
                <label for="lacunarityRange" class="form-label">Lacunarity : {{selectedPreset.settings.lacunarity}}</label>
                <input type="range" min="{{minLacunarity}}" max="{{maxLacunarity}}" class="form-range form-control w-100 border-0" id="lacunarityRange" step="0.01" (change)="lacunarityChanged()" [(ngModel)]="selectedPreset.settings.lacunarity">
            </div>
        </div>
        <div>
            <h3>Population</h3>
            <div class="form-group">
                <label for="numberOfVillagesRange" class="form-label">Number Of Villages : {{selectedPreset.settings.numberOfVillages}}</label>
                <input type="range" min="{{minNumberOfVillages}}" max="{{maxNumberOfVillages}}" class="form-range form-control w-100 border-0" id="numberOfVillagesRange" step="1" (change)="numberOfVillagesChanged()" [(ngModel)]="selectedPreset.settings.numberOfVillages">
            </div>
            <div class="form-group">
                <label for="housesSizeRange" class="form-label">Houses Size : {{selectedPreset.settings.housesSize}}</label>
                <input type="range" min="{{minHousesSize}}" max="{{maxHousesSize}}" class="form-range form-control w-100 border-0" id="housesSizeRange" step="1" (change)="housesSizeChanged()" [(ngModel)]="selectedPreset.settings.housesSize">
            </div>
            <div class="form-group">
                <label for="villagesPopulationRange" class="form-label">Villages Population : {{selectedPreset.settings.villagesPopulation}}</label>
                <input type="range" min="{{minVillagesPopulation}}" max="{{maxVillagesPopulation}}" class="form-range form-control w-100 border-0" id="villagesPopulationRange" step="1" (change)="villagesPopulationChanged()" [(ngModel)]="selectedPreset.settings.villagesPopulation">
            </div>
            <div class="form-group">
                <label for="villagesSpreadRange" class="form-label">Villages Spread : {{selectedPreset.settings.villagesSpread}}</label>
                <input type="range" min="{{minVillagesSpread}}" max="{{maxVillagesSpread}}" class="form-range form-control w-100 border-0" id="villagesSpreadRange" step="1" (change)="villagesSpreadChanged()" [(ngModel)]="selectedPreset.settings.villagesSpread">
            </div>
        </div>
    </div>
    <div>
        <button type="button" hidden="true" class="btn btn-primary w-100 generate" (click)="generate()">Generate</button>
    </div>
</div>
